<?xml version="1.0" ?>
<robot name="kr20" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- BEGIN - Include -->
  <xacro:include filename="$(find kuka_kr20_description)/urdf/robot_parameters.xacro" />
  <xacro:include filename="$(find kuka_kr20_description)/urdf/links_joints.xacro" />
  <!-- END - Include -->

  <!-- World frame (for Gazebo) -->
  <link name="world"/>

  <!-- Arm fixed to world frame  -->
  <joint name="world__${link_00_name}" type="fixed">
    <parent link="world"/>
    <child link="${link_00_name}"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <xacro:m_link_mesh name="${link_00_name}" color="White"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              mass="414.0"
              ixx="97670000" ixy="0" ixz="0"
              iyy="97670000" iyz="0"
              izz="2170000"
              meshfile="package://kuka_kr20_description/meshes/base_link.stl"
              meshscale="0.001 0.001 0.001" />

  <material name="DarkGreen">
    <color rgba="0 0.36 0.012 1.0"/>
  </material>
  
  <material name="LightGreen">
    <color rgba="0.82 0.95 0.82 1.0"/>
  </material>  
  
  <material name="White">
    <color rgba="0.96 0.96 0.96 1.0"/>
  </material>
  
  <material name="Grey">
    <color rgba="0.56 0.56 0.56 1.0"/>
  </material>

  <gazebo reference="${link_00_name}">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="${link_01_name}">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="${link_02_name}">
    <material>Gazebo/DarkGreen</material>
  </gazebo>

  <gazebo reference="${link_03_name}">
    <material>Gazebo/LightGreen</material>
  </gazebo>

  <gazebo reference="${link_04_name}">
    <material>Gazebo/LightGreen</material>
  </gazebo>

  <gazebo reference="${link_05_name}">
    <material>Gazebo/LightGreen</material>
  </gazebo>
  
  <gazebo reference="${link_06_name}">
    <material>Gazebo/LightGreen</material>
  </gazebo>
  
  <gazebo reference="${link_07_name}">
    <material>Gazebo/LightGreen</material>
  </gazebo>

  <gazebo reference="${link_08_name}">
    <material>Gazebo/Grey</material>
  </gazebo>


  <!-- BEGIN - Robot description -->

  <xacro:m_joint name="q1" type="revolute"
           axis_xyz="0 0 1"
           origin_rpy="0 0 0" origin_xyz="0 0 1.65"
           parent="${link_00_name}" child="${link_01_name}"
           limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

  <xacro:m_link_mesh name="${link_01_name}" color="Grey"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              mass="24.74"
              ixx="1430" ixy="84.25" ixz="0.2969"
              iyy="82.08" iyz="-1.64"
              izz="1405"
              meshfile="package://kuka_kr20_description/meshes/Link1.stl"
              meshscale="0.001 0.001 0.001" />

  <xacro:m_joint name="q2" type="prismatic"
           axis_xyz="0 1 0"
           origin_rpy="0 0 0" origin_xyz="0 0.37775 0.089"
           parent="${link_01_name}" child="${link_02_name}"
           limit_e="1000" limit_l="-0.192" limit_u="0.216" limit_v="0.5" />

  <xacro:m_link_mesh name="${link_02_name}" color="DarkGreen"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              mass="10.88"
              ixx="67.73" ixy="1.2" ixz="0.184"
              iyy="59.85" iyz="-0.005"
              izz="83.55"
              meshfile="package://kuka_kr20_description/meshes/Link2.stl"
              meshscale="0.001 0.001 0.001" />

  <xacro:m_joint name="q3" type="revolute"
           axis_xyz="0 1 0"
           origin_rpy="0 0 0" origin_xyz="0.115 0.11 0"
           parent="${link_02_name}" child="${link_03_name}"
           limit_e="1000" limit_l="-2.15" limit_u="2.15" limit_v="0.5" />

  <xacro:m_link_mesh name="${link_03_name}" color="LightGreen"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              mass="19.26"
              ixx="56.06" ixy="-4.0" ixz="0"
              iyy="1396.0" iyz="0"
              izz="1404.0"
              meshfile="package://kuka_kr20_description/meshes/Link3.stl"
              meshscale="0.001 0.001 0.001" />
              
  <xacro:m_joint name="q4" type="revolute"
           axis_xyz="0 1 0"
           origin_rpy="0 0 0" origin_xyz="0.65625 0.0225 0"
           parent="${link_03_name}" child="${link_04_name}"
           limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

  <xacro:m_link_mesh name="${link_04_name}" color="LightGreen"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              mass="9.9"
              ixx="17.71" ixy="0.209" ixz="-0.001"
              iyy="464.8" iyz="0"
              izz="467.7"
              meshfile="package://kuka_kr20_description/meshes/Link4.stl"
              meshscale="0.001 0.001 0.001" />

  <xacro:m_joint name="q5" type="revolute"
           axis_xyz="0 1 0"
           origin_rpy="0 0 0" origin_xyz=" 0.531 -0.011475 0"
           parent="${link_04_name}" child="${link_05_name}"
           limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

  <xacro:m_link_mesh name="${link_05_name}" color="LightGreen"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              mass="2.38"
              ixx="5.613" ixy="-0.8" ixz="0"
              iyy="6.205" iyz="0"
              izz="8.616"
              meshfile="package://kuka_kr20_description/meshes/Link5.stl"
              meshscale="0.001 0.001 0.001" />

   <xacro:m_joint name="q6" type="revolute"
           axis_xyz="1 0 0"
           origin_rpy="0 0 0" origin_xyz="0.0985 0.1 0"
           parent="${link_05_name}" child="${link_06_name}"
           limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

  <xacro:m_link_mesh name="${link_06_name}" color="LightGreen"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              mass="1.75"
              ixx="2.865" ixy="0.01" ixz="0"
              iyy="2.792" iyz="0"
              izz="3.318"
              meshfile="package://kuka_kr20_description/meshes/Link6.stl"
              meshscale="0.001 0.001 0.001" />

   <xacro:m_joint name="q7" type="revolute"
           axis_xyz="0 1 0"
           origin_rpy="0 0 0" origin_xyz="0.0605 0.057 0"
           parent="${link_06_name}" child="${link_07_name}"
           limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

  <xacro:m_link_mesh name="${link_07_name}" color="Grey"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              mass="0.37"
              ixx="0.2773" ixy="0" ixz="0"
              iyy="0.493" iyz="0"
              izz="0.2773"
              meshfile="package://kuka_kr20_description/meshes/Link7.stl"
              meshscale="0.001 0.001 0.001" />

   <xacro:m_joint name="q8" type="prismatic"
           axis_xyz="0 1 0"
           origin_rpy="0 0 0" origin_xyz="0 -0.09 0"
           parent="${link_07_name}" child="${link_08_name}"
           limit_e="1000" limit_l="0" limit_u="0.1" limit_v="0.5" />

  <xacro:m_link_mesh name="${link_08_name}" color="Grey"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              mass="1.69"
              ixx="16.89" ixy="0" ixz="0"
              iyy="0.5042" iyz="-0.28"
              izz="16.89"
              meshfile="package://kuka_kr20_description/meshes/Link_EF.stl"
              meshscale="0.001 0.001 0.001" />

</robot>
